.bouton-image:before {
    content: "";
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-right: 5px;
    vertical-align: text-top;
    background-color: transparent;
    background-position : center center;
    background-repeat:no-repeat;
}

.monBouton:before{
     background-image : url(../img/discord.png);
}

.lnr-license {
    color: #FFF;
    font-size: 40px;
    /* To get crisp results, use sizes that are
    a multiple of 20; because Linearicons was
    designed on a 20 by 20 grid. */
  }

  .lnr-rocket {
    color: #FFF;
    font-size: 40px;
    /* To get crisp results, use sizes that are
    a multiple of 20; because Linearicons was
    designed on a 20 by 20 grid. */
  }
  .lnr-star {
    color: #FFF;
    font-size: 40px;
    /* To get crisp results, use sizes that are
    a multiple of 20; because Linearicons was
    designed on a 20 by 20 grid. */
  }

  /* ------------------------------------------------------------------
SUBSCRIPTION PLANS WRAPPER
--------------------------------------------------------------------- */
.subscription-wrapper {
    padding: 30px;
}
.pricing-sub {
    /*font-size: 20px;*/
    line-height: 30px;
    font-weight: 400;
    color: #000;
    margin-bottom: 60px;
}
.subscription-wrapper .panel {
    border: 2px solid transparent;
    border-radius: 3px;
    box-shadow: none;
    border-color: #333;
    background-color: #e0e0;
}

.subscription-wrapper .panel-default>.panel-heading {
    background-color: #000;
}

.panel.featured-price {
    border-color: #333;
}
.subscription-wrapper .panel-default>.panel-heading {
    color: inherit;
}
.subscription-wrapper .panel-heading {
    border-bottom: 2px solid transparent;
    border-color: #333;
    padding: 20px 20px 20px;
}
.subscription-wrapper .panel-heading h2{
    font-size: 24px;
    line-height: 30px;
    color: #0c38f5;
    font-weight: 700;
}
.subscription-wrapper .panel-heading h2 small {
    display: block;
    color: #202020;
    font-weight: 700;
}
.subscription-wrapper .panel-body {
    padding: 30px 35px;
}
.price {
    display: block;
    font-size: 30px;
    line-height: 30px;
    font-weight: 700;
    margin: 30px 0;
    color: #0c38f5;
}
.price small {
    font-size: 14px;
    color: #fff;
    font-weight: 400;
}
.pricing-btn span {
    color: #0c38f5;
    margin-left: 8px;
    font-size: 12px;
}

.panel {
    background-color: #000;
    border-radius: 10px;
    padding: 15px 25px;
    position: relative;
    /*width: 100%;*/
    z-index: 10;
  }

.pricing-table {
    box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.08), 0px 20px 31px 3px rgba(0, 0, 0, 0.09), 0px 8px 20px 7px rgba(0, 0, 0, 0.02);
    display: flex;
    flex-direction: column;
  }
  
  @media (min-width: 600px) {
    .pricing-table {
      flex-direction: row;
    }
  }
  
  .pricing-table * {
    text-align: center;
    text-transform: uppercase;
  }
  
  .pricing-plan {
    border-bottom: 1px solid #e1f1ff;
    padding: 25px;
  }
  
  .pricing-plan:last-child {
    border-bottom: none;
  }
  
  @media (min-width: 600px) {
    .pricing-plan {
      border-bottom: none;
      border-right: 1px solid #e1f1ff;
      flex-basis: 100%;
      padding: 25px 50px;
    }
  
    .pricing-plan:last-child {
      border-right: none;
    }
  }
  
  .pricing-img {
    margin-bottom: 25px;
    max-width: 100%;
  }
  
  .pricing-header {
    color: #888;
    font-weight: 600;
    letter-spacing: 1px;
  }
  
  .pricing-features {
    color: #016FF9;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 50px 0 25px;
  }
  
  .pricing-features-item {
    border-top: 1px solid #e1f1ff;
    font-size: 12px;
    line-height: 1.5;
    padding: 15px 0;
  }
  
  .pricing-features-item:last-child {
    border-bottom: 1px solid #e1f1ff;
  }
  
  .pricing-price {
    color: #016FF9;
    display: block;
    font-size: 32px;
    font-weight: 700;
  }
  
  .pricing-button {
    border: 1px solid #9dd1ff;
    border-radius: 10px;
    color: #348EFE;
    display: inline-block;
    margin: 25px 0;
    padding: 15px 35px;
    text-decoration: none;
    transition: all 150ms ease-in-out;
  }
  
  .pricing-button:hover,
  .pricing-button:focus {
    background-color: #e1f1ff;
  }
  
  .pricing-button.is-featured {
    background-color: #48aaff;
    color: #fff;
  }
  
  .pricing-button.is-featured:hover,
  .pricing-button.is-featured:active {
    background-color: #269aff;
  }

  .parent {
    width: 42px; /* I took the width from your post and placed it in css */
    height: 42px;
 }
 
 /* This will style any <img> element in .parent div */
 .parent img {
    height: 100%;
    width: 100%;
 }