<footer>


		<div class="col-md-4" >
		    <h3>Partner Powered</h3>
		    <p>
		        We've partnered with companies that provide us he tools to get the job done.  Whether you are implementing a workload, or achieving interoperability, baseNUBE is proud to be an established partner of Google Cloud Platform, InterSystems, HashiCorp and their surrounding technologies.
			</p>
			<div class="col-md-6 pull-left" style="text-align: left;">
						<img class="img-responsive customer-img text-center" src="img/partners.png" alt="">
				</div>
				<div class="col-md-6 pull-right" style="text-align: right;">
						<img class="img-responsive customer-img text-center" src="img/partners.png" alt="">
				</div>
						
		
		</div>
		
		<div class="col-md-4" style="text-align: center;">
			<h3></h3>
			<p style="text-align: center;">
			<img class="img-responsive text-center" alt="the base of the clouds" src="img/basenube-blue-big.png"/>	
			</p>
		    
		</div>
		<div class="col-md-4 pull-left" style="text-align: left;">
			<h3>Teams</h3>
			<p style="text-align: left;">
			
		        We've partnered with companies that provide us he tools to get the job done.  Whether you are implementing a workload, or achieving interoperability, baseNUBE is proud to be an established partner of Google Cloud Platform, InterSystems, HashiCorp and their surrounding technologies.
		
			</p>

		    
		</div>
<div class="row">		
<div class="col-md-6" style="text-align: left;"> 
		<ul class="list-inline">
  			<li><small>&copy; 2018, baseNUBE, LLC </small></li>
  			<li><i class="fa fa-map-marker"></i>  195 Binney Street #4216 Cambridge, MA 02142
  			<li><i class="fa fa-phone"></i>
				<small><abbr title="Phone">P</abbr>:  (616)456-7890</small></li> 
			<li><i class="fa fa-fax"></i>
				<abbr title="Fax">F</abbr> : (616)456-9876</li>
			<li><i class="fa fa-envelope"></i>
				<abbr title=" Email">E</abbr>: <a href="mailto:hi@basenube.com">hi@basenube.com</a></li>
				<li><i class="fa fa-clock"></i>
				<abbr title="Hours">H</abbr>: Monday - Friday: 6:00 AM to 6:00 PM, EST/EDT</p></li>
		</ul>
		</div>
		<div class="col-md-6" style="text-align: right;">
		<ul class="list-inline">
  			
				<ul class="sm pull-right" style="text-align: right;">
		        <ul class="list-unstyled list-inline list-social-icons pull-right" style="text-align: right;">
                <li>
                    <a href="#"><i class="fab fa-linkedin fa-2x"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fab fa-twitter-square fa-2x"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fab fa-google-plus-square fa-2x"></i></a>
                </li>
                <li>
                        <a href="#"><i class="fab fa-twitch fa-2x"></i></a>
                    </li>
                <li>
                        <a href="#"><i class="fab fa-github fa-2x"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fab fa-slack fa-2x"></i></a>
                    </li>
            </ul>
		    </ul>
		</ul>
				
</div>
</div>
</footer>