<footer>
    <div class="footerHeader" ></div>
    <div class="container">
		<div class="col-md-4" >
		    <h3>Partners</h3>
		    <p>
		        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
		    </p>
		</div>
		
		<div class="col-md-4">
		    <h3>Our Location </h3>
		    <iframe src="https://maps.google.com/maps?hl=en&amp;ie=UTF8&amp;ll=37.0625,-95.677068&amp;spn=56.506174,79.013672&amp;t=m&amp;z=4&amp;output=embed" sytle="" frameborder="0" style="border:0" allowfullscreen></iframe>
		</div>
		<div class="col-md-4" >
		    <h3>Contact Us</h3>
		    <ul>
		        <li>Phone : 123 - 456 - 789</li>
		        <li>E-mail : info@comapyn.com</li>
		        <li>Fax : 123 - 456 - 789</li>
https://bootsnipp.com/snippets/AXeZg		    </ul>
		    <p>
		        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
		    </p>
		    <ul class="sm">
		        <ul class="list-unstyled list-inline list-social-icons">
                <li>
                    <a href="#"><i class="fab fa-linkedin fa-2x"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fab fa-twitter-square fa-2x"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fab fa-google-plus-square fa-2x"></i></a>
                </li>
                <li>
                        <a href="#"><i class="fab fa-twitch fa-2x"></i></a>
                    </li>
                <li>
                        <a href="#"><i class="fab fa-github fa-2x"></i></a>
                    </li>
            </ul>
		    </ul>
		</div>
    </div>
</footer>