 <!-- PANEL + TITLE USING COLUMNS + TITLE -->
        <div class="panel panel-default">
            <div class="panel-heading nav navbar-default">
                <div class="row">
                    <div class="col-xs-4">
                         <h3 class="panel-title"><a href="#" class="">Panel title</a></h3>

                    </div>
                  <div class="col-xs-5"><h4 class="pull-right"><small><strong>Price:</strong></small> $12,345</h4>
</div>
                    <div class="col-xs-3">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="active"><a href="#" class="">Link <span class="sr-only">(current)</span></a>
                            </li>
                            <li><a href="#" class="">Link</a>
                            </li>
                            <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>

                                <ul class="dropdown-menu">
                                    <li><a href="#" class="">Action</a>
                                    </li>
                                    <li><a href="#" class="">Another action</a>
                                    </li>
                                    <li><a href="#" class="">Something else here</a>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#" class="">Separated link</a>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#" class="">One more separated link</a>
                                    </li>
                        </ul>
                        </li>
                        </ul>
                    </div>
                  
                </div>
            </div>
            <div class="panel-body">Panel content</div>
        </div>

